<!--
  1. Do not Create the field using form tag.
  2. When user enters booking id & click on get details, 
   getBooking() method must be invoked.
-->

<div class="row">
    <div class="col-md-5 col-md-offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading">View Booking</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="bookingId">Enter Booking ID:</label>
            <input type="text" class="form-control" id="bookingId" [(ngModel)]="bookingId">
          </div>
          <button type="button" class="btn btn-primary" (click)="getBooking()">Get Details</button>
          <div class="response" *ngIf="selectedBooking">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Booking Date</th>
                  <th>Meal Type</th>
                  <th>Plate Count</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ transformDate(selectedBooking.bookedOn) }}</td>
                  <td>{{ selectedBooking.buffetName }}</td>
                  <td>{{ transformPlateCount(selectedBooking.plateCount) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="errorMessage" class="error response">{{ errorMessage }}</div>
        </div>
      </div>
    </div>
  </div>