<!--
  1. Do not Create the field using form tag.
  2. When user enters booking id & click on get details, 
   getBooking() method must be invoked.
-->

<div class="row">
    <div class="col-md-5 col-md-offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading">View Booking</div>
        <div class="panel-body">
          <div class="form-group"> 
            <label for="bookingId">Enter Booking Id</label>
            <input type="text" class="form-control" id="bookingId" [(ngModel)]="bookingId" (keyup.enter)="getBooking()">
          </div>
          <button type="button" class="btn btn-primary" (click)="getBooking()">Get Details</button>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage}}</div>
          <div *ngIf="bookingDetails" class="mt-3">
            <h3>Booking Details</h3>
          </div>
        </div>
      </div>
    </div>
  </div>