<!-- 
    Add the tag required to load the view of routed component 
-->

<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" href="#">Floating Restaurant</span>
    </div>
    <ul class="nav navbar-nav">
      <li >
        <a class="nav-color" [routerLink]="['/bookBuffet']" routerLinkActive="active">Book Buffet</a>
      </li>
      <li >
          <a class="nav-color" [routerLink]="['/getbooking']" routerLinkActive="active"> View Bookings</a>
        </li>
    </ul>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>