<!--
    Note:
        1. Use formControlName as id for each input field and select dropdown. 
        2. Use formControlName suffied with Error as id for each span tag to display error message

    eg:
        <input type="text" formControlName="userName" id="userName"/>
        <span id="userNameError">Invalid Username </span>
-->

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">Book Your Buffet </div>
            <div class="panel-body">

                <!-- Create the form -->

            </div>
        </div>
    </div>
</div>
